/* Met un peu d’espace autour du form */
form {
  padding: 1rem;
  background: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.1);
}
/* Styles personnalisés pour les boutons Auth0 */
#auth0-login-btn, #auth0-logout-btn {
  padding: 0.25rem 0.75rem;
  margin: 0 0.5rem;
  border-radius: 4px;
}

#auth0-login-btn {
  background-color: #7f569b;
  border-color: #007bff;
  color: white;
}

#auth0-login-btn:hover {
  background-color: #e31ecc73;
  border-color: #dbdee1;
}

#auth0-logout-btn {
  background-color: transparent;
  border-color: #6f6c72;
  color: #d9eeef0f;
}

#auth0-logout-btn:hover {
  background-color: #f8f9fa;
}

@media (max-width: 767.98px) {
  #auth0-login-btn, #auth0-logout-btn {
    width: 100%;
    margin: 0.5rem 0;
  }
}
/* Styles pour le bouton de déconnexion avec nom d'utilisateur */
#auth0-logout-btn {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
}

#auth0-logout-btn .user-name {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 5px;
  font-weight: bold;
}

#auth0-logout-btn .logout-text {
  margin-left: 5px;
}

@media (max-width: 767.98px) {
  #auth0-logout-btn .user-name {
    max-width: none;
  }
}